<div class="navigation">
    <link rel="stylesheet" type="text/css" href="/css/navigation.css" />

    <a {{#ifEquals navigation.active "home"}} class="active" {{/ifEquals}} href="/home">Home</a>
    <a {{#ifEquals navigation.active "about"}} class="active" {{/ifEquals}} href="/about">About</a>
    <a {{#ifEquals navigation.active "page1"}} class="active" {{/ifEquals}} href="/page1">Page1</a>
    <a {{#ifEquals navigation.active "page2"}} class="active" {{/ifEquals}} href="/page2">Page2</a>
    <a {{#ifEquals navigation.active "page3"}} class="active" {{/ifEquals}} href="/page3">Page3</a>
    
  </div>