<div class="navigation">
    <link rel="stylesheet" type="text/css" href="/css/navigation.css" />

    <a {{#ifEquals navigation.active "home"}} class="active" {{/ifEquals}} href="/home">Home</a>
    <a {{#ifEquals navigation.active "about"}} class="active" {{/ifEquals}} href="/about">About</a>
    <a {{#ifEquals navigation.active "guide"}} class="active" {{/ifEquals}} href="/guide">Guide</a>
    <a {{#ifEquals navigation.active "quiz"}} class="active" {{/ifEquals}} href="/quiz">Quiz</a>
    <a {{#ifEquals navigation.active "hint"}} class="active" {{/ifEquals}} href="/hint">Hint</a>
    <a {{#ifEquals navigation.active "reset"}} class="active" {{/ifEquals}} href="/reset">Reset</a>
    <a {{#ifEquals navigation.active "load"}} class="active" {{/ifEquals}} href="/load">Load</a>
    <a {{#ifEquals navigation.active "reward"}} class="active" {{/ifEquals}} href="/reward">Reward</a>
    <a {{#ifEquals navigation.active "score"}} class="active" {{/ifEquals}} href="/score">Score</a>
    
  </div>